@font-face {
    font-family: "vanilla-personal";
    src: url(../fonts/vanilla-personal.light.ttf);
}

[data-arts-theme-text="light"] .h2{
    font-family: "vanilla-personal"!important;
    font-size: 40px !important;
}

.logo__wrapper-img .animation{
    height: 102px;
}

.logo__wrapper-img{
    transform: scale(2) !important;
}



:root {
    font-size: 20px;
    --red: #da2c4d;
    --yellow: #f8ab37;
    --green: #2ecc71;
    --white: #ffffff;
    --grey-light: #f2f7f9;
    --grey: #ecedf3;
    --black: #080808;
    --black-blue: #1f2029;
    --black-blue-light: #353746;
    --black-blue-light-2: #404255;
    --black-blue-light-3: #4b4d64;
    --black-light: #424455;
}


.svg-progress .navbar-brand{
    height: 36px;
    position: fixed;
    top: 50px;
    left: 70px;
    z-index: 3333;
    width: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
.svg-progress .navbar-brand::before{
    position: absolute;
    content: '';
    top: -13px;
    left: 50%;
    width: 80px;
    transform: translateX(-50%);
    height: calc(100% + 26px);
    opacity: 0;
    z-index: -1;
    background-image: linear-gradient(260deg, var(--grey), var(--grey-light));
    animation: border-transform 10s linear infinite alternate forwards;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.svg-progress .navbar-brand::after{
    position: absolute;
    content: '';
    top: -13px;
    left: 50%;
    width: 80px;
    transform: translateX(-50%);
    height: calc(100% + 26px);
    opacity: 1;
    z-index: -1;
    background-image: linear-gradient(160deg, var(--black-blue-light-3), var(--black-blue-light));
    animation: border-transform 10s linear infinite alternate forwards;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.svg-progress .navbar-brand img{
    padding: 7px 0;
    height: 100%;
    width: auto;
    display: block;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}
@-webkit-keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
    14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
    28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
    42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
    56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
    70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
    84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}
@keyframes border-transform{
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
    14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
    28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
    42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
    56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
    70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
    84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.svg-progress .section {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
    height: 100vh;
}
.svg-progress .center-wrap {
    position: absolute;
    width: 100%;
    display: block;
    overflow: hidden;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.svg-progress .color-gradient-red-yellow {
    background: linear-gradient(160deg, var(--red), var(--yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.svg-progress .color-gradient-red-yellow .uil:before {
    background: linear-gradient(160deg, var(--red), var(--yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.svg-progress .size-22 {
    font-size: 22px;
}

/* #Progress
================================================== */

.svg-progress .progress-wrap {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset  0 0 0 2px rgba(0, 0, 0, 0.2);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.svg-progress .progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.svg-progress .progress-wrap::after {
    position: absolute;
    font-family: 'unicons';
    content: '\e84b';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    color: #9c9c9c;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.svg-progress .progress-wrap:hover::after {
    opacity: 0;
}
.svg-progress .progress-wrap::before {
    position: absolute;
    font-family: 'unicons';
    content: '\e84b';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    opacity: 0;
    background-image: linear-gradient(298deg, var(--red), var(--yellow));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.svg-progress .progress-wrap:hover::before {
    opacity: 1;
}
.svg-progress .progress-wrap svg path { 
    fill: none; 
}
.svg-progress .progress-wrap svg.progress-circle path {
    stroke: #f6a41d;
    stroke-width: 4;
    box-sizing:border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.svg-progress .switch,
.svg-progress .circle {
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear; 
} 
.svg-progress .switch {
    width: 80px;
    height: 4px;
    border-radius: 27px;
    background-image: linear-gradient(298deg, var(--red), var(--yellow));
    position: fixed;
    right: 50px;
    top: 75px;
    display: block;
    margin: 0 auto;
    text-align: center;
    opacity: 1;
  z-index: 33333;
    transition: all 300ms linear;
}
.svg-progress .circle {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--black-blue-light-3);
    box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
    animation: border-transform 10s linear infinite alternate forwards;
}
.svg-progress .circle:hover {
    box-shadow: 0 8px 8px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}
.svg-progress .circle:before {
    position: absolute;
    font-family: 'unicons';
    content: '\eac1';
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    height: 40px;
    opacity: 1;
    color: var(--grey);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.svg-progress .circle:after {
    position: absolute;
    font-family: 'unicons';
    content: '\eb8f';
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    width: 100%;
    height: 40px;
    color: var(--yellow);
    opacity: 0;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear; 
}
.svg-progress .switched {
}
.svg-progress .switched .circle {
    left: 45px;
    box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
    background: var(--black-blue);
}
.svg-progress .switched .circle:hover {
    box-shadow: 0 8px 8px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}
.svg-progress .switched .circle:before {
    opacity: 0;
}
.svg-progress .switched .circle:after {
    opacity: 1;
}


.dotted-circle {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.3;
    -webkit-animation: rotation 38s linear infinite;
    animation: rotation 38s linear infinite;
}
.wrapper-distorsion {
    width: 100%;
    height: 550px;
 
}
.wrapper-distorsion-2 {
    width: 100%;
    height: 550px;
 
}

.hero-title {
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Cosi Azure";
    font-size: 84px;
}

.hero-title .letter {
    display: inline-block;
    opacity: 0;
}